* {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; 
  font-family: 'Cafe24Dangdanghae';
}

/*폰트*/
@font-face {
  font-family: 'Cafe24Dangdanghae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 1000px; margin: 0 auto;
  background-color: beige;
}
.mainHeader {
  width: 100%; height: 100px;
  background-color: aliceblue;
}
.mainHeader .logo {
  width: 50%;
  height: 100px;
  text-align: center;
  float: left;
}
.mainHeader .logo img {
  width: 150px;
  height: 80px;
  float: left;
  margin-left: 15%;
  margin-top: 2%;
}

nav {
  width: 50%;
  height: 80px;
  float: right;
  margin-top: 2%;
}
.topMenu li {
  list-style: none;
  float: left;
  position: relative;
  margin-left: 5%;
}
/*메뉴 이름 설정*/
.topMenu li a {
  display: block;
  /*링크 태그 블록 스타일*/
  color: black;
  /*폰트 색상*/
  font-weight: 600;
  /*폰트 굵기*/
  padding: 10px 10px;
  text-decoration: none;
}
.topMenu li a:hover {
  color: coral;
}
.main_box {
  width: 100%;
  height: 700px;
  background-color: bisque;
}
.copyright {
  width: 100%;
  height: 100px;
  background-color: beige;
  float: left;
}

/*탭 메뉴 부분*/
input:nth-of-type(1) {
  display: none;
}

input:nth-of-type(1)~div:nth-of-type(1) {
  display: none;
}

input:nth-of-type(1):checked~div:nth-of-type(1) {
  display: block;
}

/*두번째탭*/
input:nth-of-type(2) {
  display: none;
}

input:nth-of-type(2)~div:nth-of-type(2) {
  display: none;
}

input:nth-of-type(2):checked~div:nth-of-type(2) {
  display: block;
}

/*세번째탭*/
input:nth-of-type(3) {
  display: none;
}

input:nth-of-type(3)~div:nth-of-type(3) {
  display: none;
}

input:nth-of-type(3):checked~div:nth-of-type(3) {
  display: block;
}
/*탭메뉴 구성*/
.tabMenu {
  width: 55%;
  height: 400px;
  float: left;
  background-color: gray;
  margin-left: 4%;
  margin-top: 3%;
}
.tabMenu .buttons {
  overflow: hidden;
  height: 50px;
}
.tabMenu .buttons label {
  display: block;
  /*수평정렬*/
  width: 100px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
  /*테두리 지정*/
  color: black;
  float: left;
  /*글자크기*/
  font-size: 18px;
}
.tabMenu .buttons label:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.tabContent {
  /*탭 내용 스타일 부분*/
  display: none;
  display: inline;
}
.tabContent ul li {
  list-style: none;
}

.tabContent ul li .product { /*상품 간격 조정 및 포지션 변경*/
  position: relative;
  overflow: hidden;
  width: 20%;
  height: 20%;
  float: left;
  margin: 6% 6% 0% 7%;
}

.tabContent ul li .product .caption h2 {
  display: none;
}

.tabContent ul li .product img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.frm div {
  font-size: 20px;
}

.result {
  width: 35%;
  height: 400px;
  background-color: wheat;
  float: left;
  margin-top: 3%;
  margin-left:3%;
}

.orderMenu {
  position: relative;
  border: none;
  font-size: x-large;
}
.orderdiv {
  overflow: auto; 
  height: 330px;
  letter-spacing: 0.1em;
  line-height: 150%;
}
.orderdiv::-webkit-scrollbar {
  display: none;
}
@media (max-width:1024px) {
  .container{ width: 100%; }
  .mainHeader{ width: 100%; }
  .main_box{ width: 100%; }
  .tabMenu{ width: 55%; }
  .result{ width: 35%;}
  .copyright{ width: 100%; } 
}

@media (max-width:768px) {
  .container{ width: 100%; }
  .mainHeader{ width: 100%; }
  .main_box{ width: 100%; }
  .tabMenu{ width: 55%; }
  .result{ width: 35%;}
  .copyright{ width: 100%; } 
  nav { margin-top: 5%;}
}

@media (max-width: 480px) {
  .container{ width: 100%; }
  .mainHeader{ height: 200px; }
  .tabMenu{ float: none; width: 100%; height: 500px; }
  .main_box{ width: 100%; }
  .result{ float: left; width: 100%; height: 500px; }
  .copyright{ float: left; width: 100%; height: 100px;}
  .mainHeader .logo { margin-top: 15%;}
  nav { margin-top: 20%;}
}